@import "tailwindcss";

@theme {
  --color-main-blue: #DEEDFA;
  --color-bg: #fefefe;
}
html, body, :root { height: 100%; background: var(--color-bg); }

.home-banner {
  background-image: url('/banner.jpg');
}


.poly {
  height: 35px;
  width: 56.5%;
  background: var(--color-bg) 0% 0% no-repeat padding-box;
  clip-path: polygon(0% 0%, 92% 0%, 100% 100%, 0% 100%);
  position: absolute;
  bottom: 0;
  left: 0;
}
